@font-face {
    font-family: "Helvetica Modern";
    src: url("/assets/fonts/helvetica-now-display.ttf");
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Helvetica Modern';
    font-size: 18px;
    text-transform: uppercase;
}

.header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.nav-logo {
    margin: .5rem 0 0 1rem;
    height: 3rem;
}

.nav .nav-items {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
}

.nav-item {
    position: relative;          
    cursor: pointer;
    color: white;      
    transition: color 0.3s ease;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;               
    width: 0%;                  
    height: 1px;                 
    background-color: white;     
    transition: width 0.4s ease; 
}

.nav-item:hover::after {
    width: 100%;                 
}


.connect-btn {
    position: relative;          
    background-color: black;
    color: white;
    font-family: 'Helvetica Modern';
    font-size: 1rem;
    border: solid 1px white;
    text-transform: uppercase;
    padding: .5rem 1rem;
    overflow: hidden;            
    cursor: pointer;
    transition: color 0.4s ease;
}

.connect-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;                 
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;                   
    transition: left 0.4s ease;  
}

.connect-btn span {
    position: relative;           
    z-index: 1;
    transition: color 0.4s ease;
}

.connect-btn:hover::before {
    left: 0;                     
}

.connect-btn:hover span {
    color: black;                  
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-right: 2rem;
}

.icons i:last-child {
    margin-left: 3rem ;
}

.icons i {
    font-size: 1.5rem;
    transform: scale(1);           
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.icons i:hover {
    transform: scale(1.2);           
    color: #dd86ff;                 
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 9rem;
    font-weight: 800;
    line-height: 8rem;
    margin-left: 2rem;
}

.hero-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
}

.cta {
    position: relative;
    background-color: #000;
    color: white;
    border: 1px solid white;
    border-radius: 4rem;
    padding: 1rem 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 2rem;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.4s ease;
}

.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: left 0.4s ease;
    z-index: 0;
}

.cta span {
    position: relative;
    z-index: 1;
    transition: color 0.4s ease;
}

.cta:hover::before {
    left: 0;
}

.cta:hover span {
    color: black;
}

.hero-p {
    width: 25rem;
    margin-right: 2rem;
}